@import url('./global.css');

body{
    background-color: var(--primary-color);
}



header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

header button, h1, a {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 10px;
    border-radius: 25px;
}

.socials{
    display: flex;
    gap: 15px;
}

header div{
    display: flex;
    gap: 10px;
}

.text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    margin: 50px;
    border: 2px solid black;
    border-radius: 25px;
    font-size: 2.5em;
}

.text span{
    font-weight: bold;
}

.resume{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    margin: 50px;
    border-radius: 25px;
    font-size: 2.5em;
    background-color: var(--secondary-color);
}

.resume span{
    font-weight: bold;
    color: var(--primary-color);
}